
{% extends 'task/main.html' %}

{% block content %}

{%  include 'task/status.html' %}

<div class="row" style="padding: 1%;">
	<div class="col-md-8">
		
		<div class="card card-body">
			<h5>Employee & Skills:</h5>
			<br>
			<table class="table table-sm">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>email</th>
					{% for skill in skills %}
							<th>{{skill.name}}</th>
					{% endfor %}
					<th>Last Loggedin</th>
					<th> </th>
				</tr>

				{% for key,values in users_with_skills.items %}
					<tr>
						<td>{{values.0.first_name}}</td>
						<td>{{values.0.last_name}}</td>
						<td>{{values.0.email}}</td>
						
						{% for value in values %}
							<td>{{value.percentage}}</td>
						{% endfor %}

						<td>{{values.0.last_loggedin}}</td>
						<td><a class="btn btn-info" href="{% url 'employee' values.0.user_id %}">View</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
	<div class="col-md-4">
		{% if group_name != 'Employee' %}
		
		<div class="card card-body">
			<h5> Create Employee & Skills:</h5>
			<hr>
			<a class="btn btn-outline-success  btn-sm btn-block" href="{% url 'create_employee' %}">Create Employee</a>
			<a class="btn btn-outline-success  btn-sm btn-block" href="{% url 'create_skills' %}">Create Employee Skills</a>
		</div>
		<br>
		<div class="card card-body">
			<h5> View & Update Skills </h5>
			<br>
			<table class="table table-sm">
				<tr>
					<th>Skill</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>

				{% for skill in skills %}
					<tr>
						<td>{{skill.name}}</td>
						<td><a class="btn btn-info" href="{% url 'update_skills' skill.id %}">Update</a></td>
						<td><a class="btn btn-danger" href="{% url 'delete_skills' skill.id %}">Delete</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
		{% endif %}

	</div>


</div>

{% endblock %}