{%  extends 'task/main.html' %}

{% block content %}

{% include 'task/chart.html'%}


<!-- <br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div> -->

<br>

<div class="row" style="padding: 1%;">
	<div class="col-md-7">
		<div class="card card-body">
			<h5>Employee & Skills:</h5>
			<br>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Sl.No</th>
					<th>Skill</th>
					<th>Percentage</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for skill in skill_list %}
					<tr>
						<td></td>
						<td>{{forloop.counter}}</td>
						<td>{{skill.skill}}</td>
						<td>{{skill.percentage}} % </td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_employee_skill' skill.skill_id %}"> Update </a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_employee_skill' skill.skill_id %}"> Remove </a></td>
					</tr>
				{% endfor%}

			</table>
		</div>
	</div>
	<div class="col-md-5">
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Employee:</h5>
					<hr>
					{% if group_name == 'Employee' %}
					<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_employee' employee.id %}">Update Profile</a>
					{% endif %}
					{% if group_name != 'Employee' %}
						<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_employee' employee.id %}">Update Employee</a>
						<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_employee' employee.id %}">Delete Employee</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}